{% extends('base.html.twig') %}

{% block body %}
    {% for i in 0..8 %}
        <br>
    {% endfor %}
    <div style="text-align: center">
        <h1>Welcome to this inCRUDible blog!</h1>
        <a> Please log in to edit posts &#9996;</a>
    </div>
{% endblock %}