{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ post.title }}</h1>
        {% if post.category == null %}
            <hr>
   
        {% else %}
             <em>Category: {{ post.category }} </em>
             <hr>
        {% endif %}
    
    
 
    {% if post.image == null %}
      
    {% else %}
        <img src="{{ "/uploads/#{post.image}" }}" alt="NO IMAGE" width="auto" height="320px" >
    {% endif %}
    

{% endblock %}